@media screen and ( max-width: 1185px) {
  .header__ul_a {
    margin-right: 65px;
  }
}

@media screen and (max-width: 1110px) {
  .header__ul_a {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1030px) {
  .tel__number {
    font-size: 1.3rem;
  }
  .logo__text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 990px) {
  .header__ul_a {
    margin-right: 30px;
  }
}

@media screen and (max-width: 919px) {
  .header__nav {
    display: none;
  }
  
  .burger-menu {
    position: relative;
    transition: 0.5s;
  }

  .burger__nav {
    position: absolute;
    display: inline-block;
  }
  
  // Burger menu
  .burger-menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2a2a2a;
    transition: 0.2s;
  }
  
  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .burger-menu__lines::before {
    content: "";
    top: -10px
  }
  
  .burger-menu__lines::after {
    content: "";
    top: 10px
  }
  
  // .burger-menu__button:hover,
  // .burger-menu__lines {
  //   filter: brightness(3);
  // }
  
  .burger-menu__active .burger-menu__lines{
    background-color: transparent;
  }
  
  .burger-menu__active .burger-menu__lines::before{
    top: 0;
    transform: rotate(125deg);
  }
  
  .burger-menu__active .burger-menu__lines::after{
    top: 0;
    transform: rotate(235deg);
  }

  // Текс в html этых класов ростянул сам header (down)

  .burger__ul {
    padding: 0;
  }

  .burger__nav {
    right: -150%;
    text-align: left;
    position: fixed;
    z-index: 20;
    height: 250px;
    background-color: #2a2a2aa1;
    overflow-y: auto;
    // border-radius: 10%;
    top: 85px;
    transition: 0.5s;
  }

  .burger__ul {
    display: flex;
    flex-direction: column;
  }

  .burger-menu__active .burger__nav {
    right: 0;
  }

  .burger__ul_a {
    padding: 30px 25px 10px 30px; 
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
  }

  .burger-menu__overlay {
    display: none;
    position: fixed;
    z-index: -1;
    width: 250vh;
    height: 100vh;
    top: 0; 
    left: 0;
    // background-color: #fff;
  }

  .burger-menu__active {
    z-index: 115;
  }

  .burger-menu__active .burger-menu__overlay {
    display: block;
    background-color: rgba(#000000, 0.5);
  }

  .container__header {
    position: relative;
  }

  .header__tel {
    position: absolute;
    right: 80px;
    float: right;
  }

}

@media screen and ( max-width: 530px ) {
  .logo__text {
    font-size: 12px;
  }
  .tel__number {
    font-size: 12px;
  }
}

@media screen and ( max-width: 390px ) {
  .burger-menu__button {
    width: 35px;
    height: 35px;
    background-color: rgba(74, 158, 66, 0.623);
  }
  .burger-menu__lines,
  .burger-menu__lines::after,
  .burger-menu__lines::before {
    width: 18px;
    height: 3px;
  }
  .header__tel {
    right: 45px;
  }
  .logo__image {
    margin-right: 5px;
  }
  .logo__text {
    font-size: 11px;
  }
}

// Media breakpoints for section (hero) (code-down)
@media screen and (max-width: 730px) {
  .hero-info__title {
    font-size: 55px;
  }
  .hero-info__subtitle {
    font-size: 30px;
  }
}
@media screen and (max-width: 690px) {
  .hero-info__row {
    flex-direction: column;
  }
  .hero-info__description {
    margin-bottom: 10px;
  }
  .hero-info__robot {
    margin-bottom: 25px;
  }
  .hero-info__buttons {
    order: 2
  }
}

@media screen and ( max-width: 576px ) {
  .hero-info__title {
    font-size: 40px;
  }
  .hero-info__subtitle {
    font-size: 21.5px;
  }
  .hero-info__description {
    // max-width: 355px;
  }
}

@media screen and ( max-width: 414px ) {
  .hero-info__title {
    font-size: 30px;
  }
  .hero-info__subtitle {
    font-size: 14px;
  }
  .hero-info__description {
    // max-width: 355px;
  }
}

// section precent (down)

@media screen and ( max-width: 1232px ) {
  .percent__left {
    padding-right: 150px;
  }
}

@media screen and ( max-width: 1070px ) {
  .percent__title_edit {
    font-size: 250px;
  }
  .percent__left {
    padding-right: 120px;
  }
  .percent__right {
    // margin-bottom: -125px;
  }
}

@media screen and (max-width: 920px ) {
  .hero__percent_row {
    flex-direction: column;
    align-items: center;
    position: unset;
    float: none;
    margin-top: -100px;
    top: unset;
  }
  .percent__left {
    padding-right: 0;
    margin-bottom: 70px;
  }
  .percent__title_right {
    text-align: center;
  }
  .percent__subtitle_right {
    text-align: center;
  }
  .percent__title_edit {
    font-size: 200px;
  }
  .percent__right-side img {
    margin-bottom: 30px;
  }
  .percent__right-side {
    margin-right: 0;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .percent__right {
    flex-direction: column;
  }
  .precent__edit {
    padding-bottom: 65px;
  }
}

@media screen and ( max-width: 530px ) {
  .percent__title_edit {
    font-size: 160px;
  }
  .percent__subtitle_left {
    font-size: 20px;
  }
  .hero__whyRobot {
    font-size: 25px;
    padding: 14px 14px 14px 14px;
  }
}

@media screen and ( max-width: 1202px ) {
  .flex-row {
    font-size: 13px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .robot-2__left {
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
  }
}

@media screen and ( max-width: 920px ) {
  .robot-2__row_shape {
    padding: 13px 23px 14px 10px;
  }
  .robot-2__row_text {
    font-size: 11px;
  }
  .robot-2__row_shape {
    font-size: 14px;
    padding: 16px 19px 18px 6px;
  }
}

@media screen and ( max-width: 619px ) {
  .robot-2__row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .robot-2__row_text {
    margin-bottom: 25px;
    text-align: center;
    margin-right: 0;
  }
  .robot-2__row_shape {
    width: 70px;
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .creat-robot__title {
    font-size: 30px;
  }
  .creat-robot__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 440px) {
  .creat-robot__primary {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  .start-learn__title {
    font-size: 18px;
  }
  .start-lern__button {
    font-size: 13px;
  }
}

@media screen and ( max-width: 405px ) {
  .start-learn__title {
    font-size: 15px;
  }
}

@media screen and (max-width: 1015px) {
  .women-1__wrap {
    width: 100%;
  }
  .women-1__video {
    background-size: contain;
  }
}

@media screen and  ( max-width: 550px ) {
  .gain__title {
    font-size: 30px;
  }
}

@media screen and ( max-width: 1164px ) {
  .format-study__blocks_margin {
    margin-right: 0;
  }
  .format-study__wrap {
    flex-direction: column;
    align-items: center;
  }
  .format-study__columns {
    margin-bottom: 20px;
  }
}

@media screen and ( max-width: 650px ) {
  .format-block__wrap {
    width: 100%;
  }
  .format-study__img2 {
    margin: 0 auto;
    margin-bottom: 65px;
  }
  .format-study__columns {
    margin-right: 0;
    justify-content: space-between;
  }
  .format-columns__col_margin {
    margin-right: 0;
  }
}

@media screen and (max-width: 455px) {
  .format-columns__col {
    width: 47%;
  }
  .format-columns__title {
    font-size: 17px;
  }
  .format-columns__subtitle {
    font-size: 14px;
  }
  .format-columns__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .format-block__text {
    left: 15px;
  }
}

// how-looks (down)

@media screen and (max-width: 1220px) {
  .how-looks__col {
    margin-right: 90px;
  }
}

@media screen and (max-width: 1000px) {
  .how-looks__info {
    justify-content: space-between;
  }
}

@media screen and (max-width: 920px) {
  .how-looks {
    padding-bottom: 25px;
  }
  .how-looks_bg {
    background-size: cover;
  }
  .how-looks__info {
    flex-direction: column;
  }
  .how-looks__columns {
    margin-bottom: 50px;
    justify-content: center;
  }
  .how-looks__col {
    margin-right: 0;
  }
  .looks-info__subtitle {
    width: 165px;
  }
  .how-looks__col {
    margin-right: 40px;
  }
  .how-looks__col:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 404px) {
  .looks-info__title {
    font-size: 25px;
  }
  .looks-info__subtitle_bottom {
    font-size: 19px;
  }
  .looks-info__subtitle {
    font-size: 13px;
    width: 135px;
  }
}

@media screen and (max-width: 1110px) {
  .gain__phone-img {
    background-size: contain;
  }
}

// benefits

@media screen and (max-width: 920px) {
  .benefits-content__top {
    display: flex;
    flex-direction: column;
  }
  .benefits-content__bottom {
    display: flex;
    flex-direction: column;
  }
  .benefits-content__block {
    margin-right: 0;
    margin: 0 auto;
  } 
}

@media screen and (max-width: 419px) {
  .benefits-course__title {
    padding-top: 60px;
    font-size: 25px;
  }
  .benefots-content__col__subtitle {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1170px) {
  .cost-learn__col {
    padding-right: 45px;
    margin-right: 45px;
  }
}

@media screen and (max-width: 920px) {
  .cost-learn__col {
    padding-right: 0;
    margin-right: 0;
    border-right: unset;
    border-top: 1px solid #eaf1f7;
    padding-top: 20px;
  }
  .cost-learn__content {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
  .cost-content__info {
    margin-bottom: 25px;
  }
  .cost-content__buy {
    display: inline-block;
    margin-bottom: 35px;
  }
  .cost-learn {
    padding-bottom: 70px;
  }
  .cost-learn__subtitle {
    // width: 319px;
  }
}

@media screen and (max-width: 500px) {
  .cost-learn__title {
    font-size: 25px;
  }
  .cost-learn__subtitle {
    font-size: 14px;
  }

  .women-2__under-subtitle {
    font-size: 13px;
  }

}

// Start form 
@media screen and (max-width: 480px) {
  .start-form__title {
    width: 320px;
    font-size: 18px;
  }
  .start-form__subtitle {
    max-width: 315px;
    font-size: 14px;
  }
  .form-free__input, .form-free__button {
    max-width: 303px
  }
  .form-free__button {
    font-size: 11px;
  }
  .form-free__input::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .start-form__title {
    width: 275px;
    font-size: 16px;
  }
  .start-form__subtitle {
    max-width: 270px;
    font-size: 13px;
  }
}

@media screen and (max-width: 440px) {
  .women-2__title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 460px) {
  .women-2__video {
    min-height: 161px;
  }
  .women-2__under-title {
    margin-top: 25px;
  }
}

// @media screen and (max-width: 1040px) {
//   .women-2__wrap {
//     width: 85%;
//   }
// }

// result-student

@media screen and (max-width: 1240px) {
  // .result-student__title {
  //   width: 265px;
  // }
  .result-student__block-1 {
    margin-right: 30px;
  }
  .result-student__col {
    margin-right: 55px;
  }
}

@media screen and (max-width: 980px) {
  .result-student__block-1 {
    margin-right: 25px;
  }
  .result-student__col {
    margin-right: 35px;
  }
}

@media screen and (max-width: 920px) {
  .result-student__content {
    flex-direction: column;
    align-items: center;
  }
  .result-student__subtitle {
    margin: 0 auto;
  }

  .result-student__block-1 {
    margin-right: 0;
    margin-bottom: 35px;
    text-align: center;
  }
  .result-student__col {
    margin-right: 35px;
  }
}

@media screen and (max-width: 600px) {
  .result-student__block-2 {
    flex-direction: column;
    text-align: center;
  }
  .result-student__col {
    margin-right: 0;
    margin-bottom: 75px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #eaf1f7;
    border-right: 1px solid #eaf1f7;
  }
  .result-student__col:last-child {
    margin-bottom: 0;
  }
  .result-student__bg {
    display: none;
  }
}

@media screen and (max-width: 1065px) {
  .start-learn__title {
    font-size: 19px;
  }
  .cash-back__button {
    font-size: 12px;
  }
}

@media screen and (max-width: 785px) {
  .cash-back__title {
    padding-bottom: 30px;
  }
  .cash-back__button {
    font-size: 11px;
  }
}

@media screen and (max-width: 920px) {
  .cash-back {
    background-size: cover;
  }
  .cash-back__title {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 475px) {
  .cash-back__button {
    padding: 18px 15px;
    font-size: 9px;
  }
}

@media screen and (max-width: 1350px) {
  .question-form__input {
    width: 160px;
  }
  .question-form__button {
    font-size: 14px;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 920px) {
  .question-form {
    min-height: unset;
    height: unset;
    padding-bottom: 120px;
  }
  .question-form__wrap {
    flex-direction: column;
  }
  .question-form__input {
    width: 250px;
  }
  .question-form__input-block {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .question-form__button {
    font-size: 15px;
    padding: 15px 40px;
  }
}

@media screen and ( max-width: 1380px) {
  .footer__middle-slide_margin {
    margin-left: 100px;
    margin-right: 70px;
  }
  .footer-middle__col {
    margin-right: 150px;
  }
  .footer__end-input {
    width: 265px;
  }
}


@media screen and (max-width: 1185px) {
  .footer__middle-slide_margin {
    margin-left: 60px;
  }
  .footer-middle__col {
    margin-right: 80px;
  }
}

@media screen and (max-width: 1056px) {
  .footer-middle__col {
    margin-right: 45px;
  }
  .footer__middle-slide_margin {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 975px) {
  .footer__icons {
    width: 180px;
  }
}

@media screen and (max-width: 920px) {
  .footer__content {
    justify-content: unset;
    flex-direction: column;
    align-items: center;
  }
  .footer__left-side {
    margin-bottom: 30px;
  }
  .footer-middle__col {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__icons {
    width: unset;
  }
}

@media screen and (max-width: 366px) {
  .footer__icons-img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 550px) {
  .modal__dialog {
    max-width: 350px;
  }
}

@media screen and (max-width: 410px) {
  .modal__dialog {
    max-width: 310px;
  }
  .modal__title {
    font-size: 15px;
  }
}