.gain {
  // background-color: #eaf1f7;
  background-image: linear-gradient(to top, #f7fafc 0%, #e4edf6 100%);
}

.gain__bg {
  background: url("../img/gain/gain-bg-lines.png") no-repeat center/cover;
}

.text__bold {
  color: #000;
  font-weight: 700;
}

.gain__content {
  padding-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/gain/gain-bg-lines.png") no-repeat bottom/contain;
}

.gain__title {
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 42px;
  font-size: 36px;
  color: #0f1c2e;
  margin-bottom: 70px;
}


// Swiper setting by author
.swiper-container {
  width: 300px;
  height: 300px;
  padding: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.gain__phone {
  width: 370px;
  // min-height: 650px;
  // box-shadow: -1px -10px 31px 25px rgba(235,242,248,1);
  // box-shadow: -1px -10px 11px 10px rgba(235,242,248,1);
  box-shadow: -1px -8px 45px 10px rgba(243,247,251, 1);
}
.gain__phone-img {
  background: url("../img/gain/gain-full-phone.png");
  width: 100%;
  min-height: 650px;
  box-shadow: -1px -8px 45px 10px rgba(243,247,251, 1);
  position: relative;
}

.gain__inside-phone {
  position: absolute;
  top: 35%;
  left: 30%;
  bottom: 50%;
  text-align: center;
}

.inside-phone__title {
  margin-top: 52px;
  color: #000000;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 24px;
}

.inside-phone__subtitle {
  margin: 0 auto;
  width: 151px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 18px;
  font-weight: 400;
}
