.gain {
  // background-color: #eaf1f7;
  background-image: linear-gradient(to top, #f7fafc 0%, #e4edf6 100%);
}

.gain__bg {
  background: url("../img/gain/gain-bg-lines.png") no-repeat center/cover;
}

.text__bold {
  color: #000;
  font-weight: 700;
}

.gain__content {
  padding-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gain__title {
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 42px;
  font-size: 36px;
  color: #0f1c2e;
  margin-bottom: 70px;
}


// Swiper setting by author
.swiper-container {
  width: 300px;
  height: 300px;
  padding: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}


.gain__wrap-phone {
  width: 526px;
  margin-top: -227px;
  // min-height: 860px;
}

.gain__phone {
  position: relative;
  background: url("../img/gain/gain-iphone.png") no-repeat center/cover;
  width: 100%;
  min-height: 860px;
  // margin-top: -227px;
  // box-shadow: 0px 200px 47px 44px rgba(244,248,251,0.68);
  box-shadow: -29px 52px 22px rgba(244, 248, 251, 0.68);
}

.gain__bg__screen {
  margin: 0 auto;
  position: absolute;
  top: 310px;
  left: 109px;
  background: url("../img/gain/gain-phone-screen.jpg") no-repeat center/cover;
  height: 550px;
  width: 308px;
  z-index: 100;
}
