.header {
  text-transform: uppercase;
  color: black;
  text-align: center;
  background-color: rgb(201, 193, 193);
  border: 2px solid orange;
}

.header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo__image {
  margin-right: 12px;
}

.logo__text {
  text-align: left;
  color: #0f1c2e;
  font-size: 24px;
  // font-variant: small-caps;
  font-family: "Roboto";
}

.header__ul_a {
  margin-right: 70px;
}