h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.hero {
  background: url("../../img/header/robot.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  max-width: 2184px;
  min-height: 1135px;
  // height: 1135px;
  z-index: 1;
  position: relative;
  padding-top: 100px;
}

.hero_edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero__info_edit {
  position: absolute;
  // width: 50%;
  top: 245px;
}

.hero-info__title {
  margin: 0;
  font-size: 72px;
  color: #0f1c2e;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.hero-info__subtitle {
  color: #000000;
  font-size: 35px;
  font-weight: 400px;
  font-family: "Myriad Pro", sans-serif;
  display: inline-block;
  margin-bottom: 24px;
}

.hero-info__description {
  margin: 0;
  font-size: 16px;
  line-height: 23.97px;
  max-width: 355px;
  margin-bottom: 63px;
}

.hero-info__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.hero-buttons_primary {
  font-size: 17px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 40px;
  background-color: #0842b7;
  box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32);
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 13px;
}

.hero-buttons_outline {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #0842b7;
  padding: 13px 40px;
  background-color: transparent;
  box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32);
  border-radius: 4px;
  border: 1px solid #0842b7;
  display: inline-block;
}

.hero-info__row {
  display: flex;
  flex-direction: row;
}

.robot__text {
  margin: 0;
  margin-top: 17px;
  vertical-align: top;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  color: #0f1c2e;
  line-height: 28.76px;
  font-family: 'Roboto', sans-serif;
}

.robot__text_wrap {
  display: block;
}

.robot__text_primary {
  color: #06bee1;
  display: inline-block;
}

.hero-info__row_edit {
  margin-bottom: 295px;
}

.hero__whyRobot {
  background-color: #fff;
  color: #000;
  padding: 20px 23px 16px 18px;
  font-size: 35px;
  font-weight: 400;
  font-family: "Myriad Pro", sans-serif;
  // margin-bottom: 77px;
}

// .hero__percent_row {
//   position: absolute;
//   bottom: -327px;
//   float: left;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   float: left;
// }

// .percent__left {
//   padding-right: 110px;
// }

// .percent__right-side {
//   max-width: 268px;
// }

// .percent__title_edit {
//   font-size: 330px;
//   font-family: "Roboto", sans-serif;
//   font-weight: 200;
//   margin: 0;
//   position: relative;
// }

// .percent__title_edit sub {
//   color: #06bee1;
//   font-family: "Roboto", sans-serif;
//   letter-spacing: 11.2px;
//   font-size: 112px;
//   position: absolute;
//   bottom: 105px;
// }

// .precent__title_p {
//   font-size: 100px;
// }

// .percent__right {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
// }

// .percent__right-side {
//   vertical-align: top;
//   text-align: left;
// }

// .percent__right-side img {
//   margin-bottom: 74px;
//   height: 66px;
// }

// .percent__title_right {
//   margin: 0;
//   font-size: 24px;
//   font-family: "Roboto", sans-serif;
//   font-weight: 300;
// }

// .percent__subtitle_right {
//   font-family: "Roboto", sans-serif;
//   font-size: 16px;
//   font-weight: 300;
//   line-height: 24px;
//   color: #061826;
// }

// .right-title__bold {
//   font-weight: 700;
// }

// .percent__subtitle_left {
//   font-size: 24px;
//   font-weight: 700;
//   font-family: "Roboto", sans-serif;
//   line-height: 28.8px;
// }

// .percent__description_left {
//   font-size: 16px;
//   font-weight: 300;
//   font-family: "Roboto", sans-serif;
//   max-width: 212px;
// }

// .percent__subtitle_left {
//   // margin-bottom: 120px;
// }