.swiper-container {
  // width: 700px;
  max-width: 700px;
  height: 640px;
}

.swiper-slide-active {
  // width: 700px;
  max-width: 700px;
}

.swiper-button-prev {
  background: url("../img/gain/prev-arrow-phone.png") no-repeat center;
  width: 60px;
  top: 60%;
  left: 40px;
}

.swiper-button-next {
  background: url("../img/gain/next-arrow-phone.png") no-repeat center;
  width: 60px;
  top: 60%;
  right: 40px;
}

.swiper-button-prev::after {
  content: "Комиссия";
  font-size: 15px;
  margin-top: 65px;
  // width: 60px;
  color: #061826;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  vertical-align: right;
}

.swiper-button-next::after {
  content: "Вознаграждение";
  font-size: 15px;
  margin-top: 65px;
  // width: 60px;
  color: #061826;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  vertical-align: right;
}