.start-form_bg {
  background: url("../img/start-learning.png") no-repeat center/cover;
  width: 100%;
  min-height: 698px;
}

.start-form__title {
  margin-top: 128px;
  max-width: 408px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.start-form__subtitle {
  max-width: 416px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 41px;
}

.form-free {
  display: flex;
  justify-content: center;
}

.form-free__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-free__input-block {
  margin-bottom: 25px;
}

.form-free__input {
  width: 359px;
  height: 48px;
  border: unset;
  border-radius: 4px;
  background-color: #ffffff;
}

.form-free__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 300;
}

// .form-free__input[type=text] {
//   padding-left: 17px;
// }
// .form-free__input[type=tel] {
//   padding-left: 17px;
// }

.form-free__input[type=email], [type=tel], [type=text] {
  padding-left: 17px;
}


.form-free__button {
  border: unset;
  padding: 18px 100px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;

  box-shadow: 0 12px 24px rgba(6, 57, 158, 0.32);
  border-radius: 4px;
  background-color: #0842b7;
}